.align_center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .authentication_form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .authentication_form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .form_inputs {
    margin-bottom: 15px;
  }
  
  .form_inputs div {
    margin-bottom: 10px;
  }
  
  .form_inputs label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form_text_input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
  }
  
  .form_submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }
  